* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 20%;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    position: sticky;
    top: 0;
    z-index: 99;
}
header {
    padding: 1em;
}
span {
    padding: 1.2em 0.3em;
}
a {
    text-decoration: none;
}
.form {
    display: flex;
    align-items: center;
}
form, button {
    margin: 1.5em;
}
.landing {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 90vh;
    width: 500px;
}
.hero {
    font-size: 4em;
    line-height: 2em;
    font-family: fantasy;
}
.box {
    margin: 0.5em;
    background-color: red;
}
.slides {
    display: flex;
    width: 800px;
    height: 500px;
    overflow: scroll;
    background-color: red;
    transition: 5s ease;
}
.slides img {
    height: 100%;
}

.carousel {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 40px auto;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.carousel img:first-child {
  display: block;
}
.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}




