{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block _style %}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #111;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f39c12;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #222;
  margin-bottom: 15px;
}

#home {
  text-align: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  padding: 100px 20px;
}

#home h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#home p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#home a {
  background-color: #f39c12;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#home a:hover {
  background-color: #e67e22;
}

.about {
  position: relative;
}

.social-links {
  position: absolute;
  overflow: hidden;
  background-color: rgb(0,0,0,50%);
  width: 400px;
  height: 0;
  right: 0;
  top: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0);
  transition: .3s ease-in-out;
}

.social-links i {
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.social-links i:hover {
  transform: scale(1.2)
}

.img:hover .social-links {
  top: 0;
  transform: scale(1);
  width: 400px;
  height: 400px;
}

.fa-facebook-f {
  color: #1877F2;
}
.fa-x-twitter {
  color: white;
}
.fa-instagram {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.social-links .fa-youtube {
  color: #FF0000;
}
.fa-github {
  color: #181717;
}
.fa-whatsapp {
  color: #25D366;
}


#about img {
  float: right;
  width: 400px;
  height: 400px;
  margin-left: 1.5rem;
  border-radius: 50%;
}


.music {
  padding: 1rem;
}

.music .row {
  border: 1px solid black;
  border-radius: 10px;
}

.music-links a {
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  color: white;
}

.music-links a:hover {
  box-shadow: 0 0 7px black;
}

.music-links a:nth-child(1) {
  background-color: orange;
}

.music-links a:nth-child(2) {
  background-color: red;
}

.music-links a:nth-child(3) {
  background-color: purple;
}









form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

form button {
  padding: 12px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: white;
  font-size: 0.9rem;
  margin-top: 40px;
}

/* Responsive */
@media (max-width: 600px) {
  * {
    scroll-padding-top: 0;
  }
  .sticky-sm-top {
    position: relative;
  }
  #about img {
    display: none;
  }
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  #home h1 {
    font-size: 2rem;
  }

  section {
    padding: 40px 15px;
  }
}

{% endblock %}
{% block title %}Aribidara Jerry | Musician & Web Developer{% endblock %}
{% block content %}

<header class="sticky-sm-top">
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#music">Music</a></li>
      <li><a href="#teaching">Teaching</a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<section id="home">
  <h1>Hello, I'm Aribidara Jerry</h1>
  <p>Musician • Composer • Educator • Web Developer</p>
  <a href="#music">Explore My Work</a>
</section>

<section id="about">
  <h2>About Me</h2>
  <div class="about">
    <div class="img">
      <img src="{{ url_for('static', filename='image/jerry.jpg') }}" alt="">
      <div class="social-links">
        <a href="https://facebook.com/aribidarajerry">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/musicforlife76/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://x.com/AribidaraJ65504">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://www.youtube.com/@aribidarajerry7889">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://wa.me/+2348123998572">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://github.com/aribidarajerry">
          <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p>Hello! I'm Aribidara Jerry, a multifaceted individual with a passion for teaching, music, and technology. As a certified teacher, I've had the privilege of inspiring and educating students in various settings. My love for music led me to become an instrumentalist, and I've had the honor of being certified by renowned institutions such as <a href="https://muson.org/" target="_blank">The Musical Society Of Nigeria (MUSON)</a> and <a href="https://www.abrsm.org/en-ng" target="_blank">The Associated Board of Royal Schools of Music (ABRSM)</a>.<br /><br />In addition to my teaching and musical pursuits, I'm also a web developer with a keen interest in building innovative and user-friendly digital experiences. This site was solely developed by me. I'm always looking for ways to combine my skills to create something truly unique and impactful.</p>
  </div>
</section>

<section id="music">
  <h2>My Music</h2>
  <p>Discover my musical creations, featuring a collection of videos and original compositions. Explore the intersection of sound and vision, and experience the depth of my artistic expression. You will find more of my documented composition on <a href="https://www.sheetmusicdirect.com/en-US/Search.aspx?query=Aribidara%2BJerry">SHEETMUSICDIRECT</a>. Please note that I have previously published works under the name A.T.M.F. Jerry. Moving forward, all works will be attributed to Aribidara Jerry for consistency. Both names refer to the same creator.</p>
  <div class="row">
    <!-- <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/how-great-is-our-God.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1674853/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/musical-moment-1.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1673645/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="https://youtu.be/YBN1T56FHbE?si=IT6n47kyFVrx5DxI">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/gavotte.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1591225/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/moment.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1521416/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="https://youtu.be/FUJeC74TGIc?si=K6mQCR8Fjhx1e1oh">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/trio.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1521415/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/waltz-in-c-sharp.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1591245/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/waltz-in-e-minor.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1678453/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="https://youtu.be/2oUMq5lJ9jw?si=iWJPJrMzwnHSa3g3">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/waltz-in-f-minor.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1673648/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="https://youtu.be/LgLarEpQke0?si=e9BpTCgupFlG5GHf">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/invention.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1521403/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="https://youtu.be/jlROzN9nws8?si=eQAaMhBWul9yxT4y">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 music">
      <div class="row">
        <img class="col-sm-6" src="{{ url_for('static', filename='image/score.jpg') }}" alt="">
        <div class="col-sm-6 music-links">
          <a href="https://www.sheetmusicdirect.com/en-US/se/ID_No/1383569/Product.aspx">
            <i class="fa-solid fa-external-link"></i> Pdf Score
          </a>
          <a href="">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
          <a href="">
            <i class="fa-solid fa-music"></i> Audio
          </a>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section id="teaching">
  <h2>Teaching</h2>
  <p>Book a lesson, class details, teaching philosophy.</p>
</section>

<section id="videos">
  <h2>Videos</h2>
  <p>YouTube and Instagram embeds.</p>
</section>

<section id="contact">
  <h2>Contact Me</h2>
  <form>
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email">
    <textarea placeholder="Message"></textarea>
    <button type="submit">Send</button>
  </form>
</section>

{% endblock %}